@page "/drugboard"


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.cc {
  background-color: #e5e5e5;
  float: left;
  width: 49%;
  height: 100%;
  padding: 43px;
  margin-top: 7px;
  margin-right: 4px;
  text-align: center;
  color: black;
  font-weight: bold; 
}

.aa {
  background-color: #e5e5e5;
  float: left;
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-top: 7px;
  margin-right: 4px;
  text-align: center;
  color: black;
  font-weight: bold; 
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 50%;
  padding: 15px;
  margin-top: 7px;
  margin-left: 4px;
  text-align: center;
}

.media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.text {
        position: absolute;
        top: 105px;
        left: 40px;
        font-weight: bold;        
    }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: black;
  font-weight: bold; 
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 19.8%;
  margin-top: 2px;
  margin-right: 2px;
  color: white;
  background-color: #b10843;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.container1 {
  padding: 2px 16px;
  margin-top: 10px;
  
}

</style>
</head>
<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
  <h1>คิวรับยาของท่าน</h1>
</div>

<div >

  <div class="cc">
    <div class="container"><h1>2005</h1></div>
    <div><p>สถานที่รับยา: xxxxxx </p></div>
  </div>

  <div class="right">
    <div> <img src="../img/unnamed-2.png" width="200" ></div>

    <div class="container">
    <img src="../img/unnamed-3.png" width="500" >
    <h3 class="centered">รอหมายเลขขึ้นหน้าจอ</h3>
    </div>

  </div>

</div>

<div class="aa">

    <div class="container"><h2>หน้าจอแสดงคิวรับยา</h2></div>
    
    <div class = "row">
    <div class="card">
       <div class="container1">
          <h4><b>2001</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2002</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2003</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2004</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2006</b></h4> 
       </div>
    </div>
    </div>


 <div class = "row">
    <div class="card">
       <div class="container1">
          <h4><b>2009</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2007</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2008</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2009</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2010</b></h4> 
       </div>
    </div>
    </div>

     <div class = "row">
    <div class="card">
       <div class="container1">
          <h4><b>2011</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2012</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2013</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2014</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1 ">
          
          <h4><b> </b></h4> 
        
       </div>
    </div>
    </div>

     <div class = "row">
    <div class="card">
       <div class="container1">
          <h4><b>  </b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2002</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2003</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2004</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2005</b></h4> 
       </div>
    </div>
    </div>

     <div class = "row">
    <div class="card">
       <div class="container1">
          <h4><b>2001</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2002</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2003</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2004</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2005</b></h4> 
       </div>
    </div>
    </div>

     <div class = "row">
    <div class="card">
       <div class="container1">
          <h4><b>2001</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2002</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2003</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2004</b></h4> 
       </div>
    </div>
    <div class="card">
       <div class="container1">
          <h4><b>2005</b></h4> 
       </div>
    </div>
    </div>






  </div>






</body>
</html>