@page "/pdpa"
@rendermode InteractiveServer


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-image: url("../img/Web 1920 – 9.png");
  width: 100%;
  height: 100%;
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat;
}

.contanier {
    
    height: 100vh;
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top : 45%;
    left : 34%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.w-50 {
    width: 80% !important;
    position: absolute !important;
    top: 120px;
    border: 2px solid cadetblue !important;
    border-radius: 10px;
    left: 35%;
}

.form-label {
    font-weight: 700;
}

.btn-success {
    background-color: black !important;
    border: none !important;
    width: 100px;
}

.media only screen and (max-width: 600px) {
    .w-50 {
        width: 100% !important;
        left: 0 !important;
    }
}


    </style>
</head>

<body>
  
   <div class="contanier">
  
   <form class="w-50 mx-auto py-5 shadow p-4" >
    <h3 class="text-black">ข้อกำหนดและเงื่อนไข</h3><hr >
    <div class="mb-3 ">
        <p> ข้าพเจ้า ซึ่งเป็นบุคคลทั่วไป ตกลงใช้บริการ Application “Rxsk” และบริการอื่นที่เกี่ยวเนื่องกัน ตามรายละเอียดการให้บริการที่โรงพยาบาลสมุทรสาครกำหนด โดย รับทราบ ยอมรับ และตกลงที่จะผูกพันและปฏิบัติตามข้อกำหนดและเงื่อนไขการใช้บริการ ดังต่อไปนี้

1.การใช้งานแอปพลิเคชัน และบริการ แอปพลิเคชัน“Rxsk”

1.1 ผู้ขอใช้บริการยอมรับว่า ผู้ขอใช้บริการสามารถดาวน์โหลดและติดตั้ง แอปพลิเคชัน “Rxsk” บนอุปกรณ์การใช้งานเพื่อใช้บริการ “Rxsk” ณ ขณะใดขณะหนึ่งได้เพียง 1 อุปกรณ์ (หรือตามที่หน่วยบริการกำหนดเป็นอย่างอื่น) เท่านั้น และหากมีการเข้าใช้บริการโดยอุปกรณ์จำนวนมากกว่าจำนวนที่กำหนดดังกล่าวในเวลาใกล้เคียงกัน ระบบของหน่วยบริการจะให้อุปกรณ์การใช้งานที่เข้ามาใช้บริการหลังสุด เป็นอุปกรณ์ที่ใช้บริการได้เพียงอุปกรณ์เดียวเท่านั้น เว้นแต่หน่วยบริการจะกำหนดเป็นอย่างอื่น

1.2 การเข้าใช้งานแอปพลิเคชันหรือบริการ “Rxsk” คุณสมบัติที่ให้บริการ คือ บริการสำหรับผู้ป่วยหรือผู้รับบริการของโรงพยาบาลสมุทรสาคร ร่วมถึงโรงพยาบาลสาขา ได้แก่  โรงพยาบาลวัดเกตุมดีศรีวราราม โรงพยาบาลนครท่าฉลอม และโรงพยาบาลวัดบางปลาสมุทรสาคร 4 เป็นต้น โดยบริการสำหรับบุคคลทั่วไป เป็นบริการที่เปิดให้บุคคลทั่วไปเข้าถึงและใช้งานคุณสมบัติทั่วไป ไม่ว่าจะเป็นผู้ป่วยหรือผู้ป่วยหรือผู้รับบริการของหน่วยบริการ จะเข้าถึงและใช้งานได้เมื่อผู้ขอใช้บริการได้สมัครเข้าใช้งานแอปพลิเคชัน จากในแอปพลิเคชัน “Rxsk” โดยตกลงยอมรับข้อกำหนดและเงื่อนไขการใช้บริการ “Rxsk” สำหรับการใช้งานในฐานะผู้รับบริการของโรงพยาบาล เป็นการเพิ่มเติมเรียบร้อยแล้ว และโรงพยาบาลได้อนุญาตให้ใช้บริการ “Rxsk” โดยผู้ขอใช้บริการต้องเข้าสู่ระบบ (log in) โดยใส่รหัสผ่านหรือข้อมูลที่ใช้ยืนยันตัวตนให้ถูกต้อง พร้อมทั้งปฏิบัติตามวิธีการและเงื่อนไขการใช้บริการที่โรงพยาบาลกำหนดอย่างถูกต้องครบถ้วน

1.3 ผู้ขอใช้บริการยอมรับว่า ทางโรงพยาบาลจะถือว่า การใช้บริการ แอปพลิเคชัน“Rxsk”ที่กระทำโดยบุคคลอื่น โดยใช้รหัสผ่าน และ/หรือข้อมูลที่ใช้ยืนยันตัวตนของผู้ขอใช้บริการ เพื่อเข้าถึงบริการของผู้ขอใช้บริการ หรือการใช้บริการ “Rxsk” ผ่านอุปกรณ์การใช้งานที่ได้ตั้งค่าให้บัญชีผู้ใช้ (user account) ของผู้ขอใช้บริการเข้าสู่ระบบ (log in) โดยอัตโนมัติและยังไม่ได้ออกจากระบบ (log out) เป็นการใช้บริการในนามและโดยความยินยอมของผู้ขอใช้บริการ และมีผลเสมือนหนึ่งผู้ขอใช้บริการกระทำด้วยตัวเอง โดยผู้ขอใช้บริการตกลงที่จะให้การกระทำดังกล่าวมีผลผูกพันผู้ขอใช้บริการในการใช้บริการกับหน่วยบริการ และหากเป็นกรณีที่มีค่าใช้จ่ายหรือความรับผิดทางแพ่งจากการกระทำดังกล่าวเกิดขึ้น ผู้ขอใช้บริการตกลงรับผิดชอบค่าใช้จ่ายหรือความรับผิดนั้นเต็มจำนวน ทั้งนี้ เว้นแต่จะมีหลักฐานที่สามารถพิสูจน์ได้ว่าเกิดขึ้นโดยผู้ขอใช้บริการไม่รับรู้และไม่ยินยอม หรือเกิดจากความผิดพลาดของหน่วยบริการหรือเหตุสุดวิสัย

1.4 ผู้ขอใช้บริการยอมรับว่า การทำธุรกรรม หรือการกระทำใด ๆ ผ่าน แอปพลิเคชัน“Rxsk” ไม่ว่าจะเป็นการใช้งานคุณสมบัติใดก็ตาม ตามวิธีการและเงื่อนไขที่หน่วยบริการกำหนด ให้ถือว่าถูกต้องสมบูรณ์และมีผลผูกพันผู้ขอใช้บริการโดยถูกต้องตามกฎหมายทุกประการ

1.5 ผู้ขอใช้บริการยอมรับว่า สำหรับบริการบางอย่างที่เป็นส่วนหนึ่งของบริการ “Rxsk” หน่วยบริการอาจนำข้อความหรือข้อมูลมาจากบุคคลหรือหน่วยงานภายนอก หรือหน่วยบริการได้เชื่อมต่อระบบสารสนเทศของหน่วยบริการกับระบบสารสนเทศของบุคคลหรือหน่วยงานภายนอก หน่วยบริการจึงไม่สามารถรับรองความถูกต้องสมบูรณ์ของข้อความหรือข้อมูลดังกล่าวได้ นอกจากนี้ หน่วยบริการไม่มีส่วนเกี่ยวข้องและไม่ได้ให้การรับรองหรือรับประกันใด ๆ เกี่ยวกับสินค้า บริการ ข้อเสนอ รายการส่งเสริมการขาย และ/หรือสิทธิประโยชน์ใด ๆ ที่ผลิตและ/หรือให้บริการโดยบุคคลหรือหน่วยงานภายนอก และหน่วยบริการ ไม่มีความรับผิดต่อผู้ขอใช้บริการหรือบุคคลใด ๆ ในความเสียหายใด ๆ จากการนำข้อความหรือข้อมูลดังกล่าวไปใช้ และ/หรือเหตุอื่นใดอันเกิดขึ้นจากสินค้าหรือบริการใด ๆ ของบุคคลหรือหน่วยงานอื่นทั้งสิ้น

1.6 ผู้ขอใช้บริการตกลงและยอมรับว่า การใช้งานแอปพลิเคชัน“Rxsk” และบริการ “Rxsk” เป็นบริการเสริมของทางหน่วยบริการ ไม่สามารถใช้ทดแทนการให้บริการดูแลสุขภาพที่หน่วยบริการโดยตรงได้ และไม่ใช่ช่องทางการขอรับบริการในกรณีฉุกเฉินหรือเร่งด่วน หน่วยบริการไม่มีความรับผิดในความเสียหายหรือเหตุขัดข้องใด ๆ อันเนื่องมาจากการใช้งานแอปพลิเคชันนี้ และ/หรือบริการ “Rxsk” ไม่ว่าด้วยเหตุสุดวิสัย เหตุที่อยู่นอกเหนือความควบคุมของหน่วยบริการ ข้อขัดข้องหรือบกพร่องของระบบ ข้อผิดพลาดในการดำเนินงานของบุคลากรหรือผู้รับจ้างของหน่วยบริการหรือบุคคลอื่น หรือเหตุอื่นใด

1.7 หน่วยบริการมีสิทธิที่จะไม่ให้บริการ หรือเปลี่ยนแปลง ระงับ หรือยกเลิกการให้บริการ  “Rxsk” หรือคุณสมบัติการใช้งานแอปพลิเคชันบางส่วนหรือทั้งหมดเมื่อใดก็ได้ โดยในกรณีการระงับหรือยกเลิกการให้บริการ “Rxsk” ทั้งหมด จะแจ้งให้ผู้ขอใช้บริการทราบล่วงหน้าไม่น้อยกว่า 30 วัน เว้นแต่จะเป็นเหตุสุดวิสัยหรือมีความจำเป็นเร่งด่วน จะแจ้งล่วงหน้าโดยเร็วที่สุด

1.8 ผู้ขอใช้บริการยอมรับว่า เท่าที่กฎหมายที่เกี่ยวข้องจะอนุญาต การใช้งานแอปพลิเคชันและการให้บริการ “Rxsk” ของหน่วยบริการ เป็นความเสี่ยงของผู้ขอใช้บริการแต่เพียงฝ่ายเดียว แอปพลิเคชันและการให้บริการ “Rxsk”ถูกจัดทำขึ้น “ตามสภาพ” (as-is) และ “ตามที่มี” (as available) โดยอาจมีข้อบกพร่องทั้งหมดรวมอยู่ด้วย ทางหน่วยบริการไม่มีการรับประกันใด ๆ ในส่วนที่เกี่ยวกับแอปพลิเคชันและบริการ“Rxsk”ไม่ว่าโดยชัดแจ้ง โดยปริยาย หรือตามกฎหมาย ซึ่งรวมถึงโดยไม่จำกัดเฉพาะการรับประกันโดยปริยาย และ/หรือสภาพที่เหมาะสมแก่การวางตลาด คุณภาพที่น่าพึงพอใจ ความเหมาะกับวัตถุประสงค์เฉพาะอย่าง ความถูกต้องเที่ยงตรงหรือแม่นยำ และการไม่ละเมิดสิทธิของบุคคลอื่น

1.9 ผู้ขอใช้บริการรับทราบและยอมรับว่า คุณสมบัติบางอย่างของแอปพลิเคชันและการให้บริการ “Rxsk” ของหน่วยบริการ อาจไม่ถูกต้องครบถ้วนโดยสมบูรณ์ หรืออาจไม่เที่ยงตรงหรือแม่นยำ ตามข้อจำกัดต่างๆ เช่น ความแรงของสัญญาณ สัญญาณรบกวน คุณสมบัติของอุปกรณ์ที่ใช้ ข้อจำกัดทางเทคนิค หรือข้อจำกัดอื่นที่ส่งผลต่อความถูกต้อง เที่ยงตรง แม่นยำ หรือคงเส้นคงวาของการระบุตำแหน่งได้ จึงเป็นการใช้งานที่หน่วยบริการไม่สามารถรับประกันความเสียหายหรือปัญหาที่เกิดขึ้นได้




2.ข้อมูลส่วนบุคคลและความเป็นส่วนตัว
2.1 ในการใช้บริการ “Rxsk” ของผู้ขอใช้บริการ ในส่วนของบริการสำหรับผู้ป่วยหรือผู้รับบริการของโรงพยาบาลสมุทรสาคร ผู้ขอใช้บริการรับทราบว่า อาจมีบางบริการที่หน่วยบริการจำเป็นต้องเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของผู้ขอใช้บริการ เท่าที่จำเป็น ซึ่งข้อมูลส่วนบุคคลดังกล่าวอาจรวมถึงข้อมูลทั่วไปของผู้ขอใช้บริการ และข้อมูลสุขภาพของบุคคล(Vital Interest)เพื่อป้องกัน หรือระงับอันตรายต่อชีวิต ร่างกายหรือสุขภาพของบุคคล ในระบบของ “Rxsk” และระบบสารสนเทศอื่นที่เกี่ยวข้องของหน่วยบริการ และยังหมายรวมถึงระบบของผู้ให้บริการอื่นที่เกี่ยวเนื่องกัน นอกจากนี้ ผู้ขอใช้บริการยอมรับให้หน่วยบริการติดต่อสื่อสารกับผู้ขอใช้บริการหรือเปิดเผยข้อมูลส่วนบุคคลของผู้ขอใช้บริการเท่าที่จำเป็น เพื่อการตรวจสอบยืนยันตัวตน สอบถามข้อมูล ให้ข้อมูลเกี่ยวกับการบริการ หรือสนับสนุนการรับบริการของผู้ขอใช้บริการผ่านทางโทรศัพท์, ข้อความสั้น (SMS), จดหมายอิเล็กทรอนิกส์ (E-mail) หรือวิธีการอื่นใดที่หน่วยบริการกำหนดและผู้ขอใช้บริการได้ให้ไว้กับหน่วยบริการก่อนหน้านี้ หรือผ่านบริการ “Rxsk”ทั้งนี้ เพื่อให้หน่วยบริการ สามารถให้บริการ “Rxsk” แก่ผู้ขอใช้บริการได้ตามข้อกำหนดและเงื่อนไขการใช้บริการฉบับนี้และข้อกำหนดและเงื่อนไขการใช้บริการอื่น ๆ สำหรับบริการ “Rxsk” โดยถือเป็นการดำเนินการเพื่อปฏิบัติตามสัญญาซึ่งผู้ขอใช้บริการเป็นคู่สัญญา หรือเพื่อดำเนินการตามคำขอของผู้ขอใช้บริการก่อนเข้าทำสัญญา ตามมาตรา 24 (3) แห่งพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562

2.2 นอกจากข้อ 2.1 หน่วยบริการ อาจจำเป็นจะต้องเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลในระบบของ “Rxsk” ในความควบคุมดูแลของหน่วยบริการ โดยมีวัตถุประสงค์เพื่อให้สามารถให้บริการ “Rxsk” ในส่วนของบริการสำหรับผู้ป่วยหรือผู้รับบริการของโรงพยาบาลสมุทรสาคร และบริการอื่นที่เกี่ยวเนื่องกัน แก่ผู้ขอใช้บริการ สำหรับการให้บริการดูแลสุขภาพของหน่วยบริการได้อย่างเต็มที่ ซึ่งข้อมูลดังกล่าวอาจรวมถึงข้อมูลสุขภาพของผู้ขอใช้บริการ เช่น หมู่เลือด ประวัติการแพ้ยา/อาหาร/อื่น ๆ เป็นต้น และในบางกรณีอาจรวมถึงข้อมูลส่วนบุคคลเกี่ยวกับเชื้อชาติ เผ่าพันธุ์ ความเชื่อในลัทธิ ศาสนาหรือปรัชญา หรือข้อมูลอื่นใดซึ่งกระทบต่อผู้ขอใช้บริการในทำนองเดียวกันตามที่คณะกรรมการคุ้มครองข้อมูลส่วนบุคคลประกาศกำหนดด้วย หากหน่วยบริการเห็นว่าข้อมูลดังกล่าวเกี่ยวข้องกับสุขภาพ หรือมีความสำคัญและจำเป็นกับการรับบริการดูแลสุขภาพของผู้ขอใช้บริการ และจำเป็นต้องเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลดังกล่าวผ่านบริการ “Rxsk” เพื่อประโยชน์ในการให้บริการดูแลสุขภาพแก่ผู้ขอรับบริการเอง เช่น เพื่อเป็นข้อมูลประกอบในการรับบริการสุขภาพตามมาตรฐานคุณภาพและความปลอดภัยของหน่วยบริการ หรือเพื่อตรวจสอบยืนยันตัวตนของผู้ขอใช้บริการ เป็นต้น เพื่อให้การให้บริการ “Rxsk” ของหน่วยบริการ แก่ผู้ขอใช้บริการสามารถดำเนินการได้ ถือเป็นการดำเนินการเพื่อปฏิบัติตามสัญญา ซึ่งผู้ขอใช้บริการเป็นคู่สัญญา ตามมาตรา 24 (3) หรือเป็นการจำเป็นในการปฏิบัติตามกฎหมายเพื่อให้บรรลุวัตถุประสงค์เกี่ยวกับเวชศาสตร์ป้องกันหรืออาชีวเวชศาสตร์ การประเมินความสามารถในการทำงานของลูกจ้าง การวินิจฉัยโรคทางการแพทย์ การให้บริการด้านสุขภาพหรือด้านสังคม การรักษาทางการแพทย์ การจัดการด้านสุขภาพ หรือระบบและการให้บริการด้านสังคมสงเคราะห์ หรือเป็นการปฏิบัติตามสัญญาระหว่างเจ้าของข้อมูลส่วนบุคคลกับผู้ประกอบวิชาชีพทางการแพทย์ ตามมาตรา 26 (5) (ก) หรือเป็นการจำเป็นในการปฏิบัติตามกฎหมายเพื่อให้บรรลุวัตถุประสงค์เกี่ยวกับการคุ้มครองแรงงาน การประกันสังคม หลักประกันสุขภาพแห่งชาติ สวัสดิการเกี่ยวกับการรักษาพยาบาลของผู้มีสิทธิตามกฎหมาย การคุ้มครองผู้ประสบภัยจากรถ หรือการคุ้มครองทางสังคม ซึ่งการเก็บรวบรวมข้อมูลส่วนบุคคลเป็นสิ่งจำเป็นในการปฏิบัติตามสิทธิหรือหน้าที่ของผู้ควบคุมข้อมูลส่วนบุคคลหรือเจ้าของข้อมูลส่วนบุคคล ตามมาตรา 26 (5) (ค) แห่งพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 แล้วแต่กรณี

2.3 ผู้ขอใช้บริการรับทราบและตกลงให้ความยอมรับให้โรงพยาบาลติดต่อสื่อสารกับผู้ขอใช้บริการหรือเปิดเผยข้อมูลส่วนบุคคลของผู้ขอใช้บริการผ่านทางโทรศัพท์, ข้อความสั้น (SMS), จดหมายอิเล็กทรอนิกส์ (E-mail) หรือวิธีการอื่นใดที่หน่วยบริการกำหนดและผู้ขอใช้บริการได้ให้ไว้กับหน่วยบริการก่อนหน้านี้หรือในการใช้บริการ “Rxsk” เพื่อประโยชน์ในการใช้งานหรือการแก้ไขปัญหาเกี่ยวกับบริการ “Rxsk” รวมทั้ง ตกลงยอมรับให้หน่วยบริการแสดงข้อความแจ้งเตือน สื่อสาร หรือประชาสัมพันธ์ข่าวสารต่าง ๆ เกี่ยวกับบริการ “Rxsk” หรือบริการ หรือข่าวสารอื่นๆภายในแอปพลิเคชัน และโดยการส่ง Notification หรือ Alert หรือข้อความในทำนองเดียวกันผ่านอุปกรณ์การใช้งาน


2.4 ผู้ขอใช้บริการรับทราบและยอมรับว่า หากผู้ขอใช้บริการประสงค์จะขอยกเลิกการใช้บริการ “Rxsk” ผู้ขอใช้บริการสามารถแจ้งความประสงค์กับหน่วยบริการได้ตามวิธีการและเงื่อนไขที่หน่วยบริการกำหนด โดยถือเป็นการระงับและยกเลิกการให้บริการ “Rxsk” ตามข้อกำหนดและเงื่อนไขฉบับนี้ และมีผลหลังจากหน่วยบริการดำเนินการตามความประสงค์เสร็จสิ้น แต่การขอยกเลิกการใช้บริการ “Rxsk” ดังกล่าว ไม่ส่งผลกระทบต่อการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลที่ดำเนินการไปแล้วโดยชอบ และหน้าที่ความรับผิดชอบ ตลอดจนค่าใช้จ่ายคงค้างที่ผู้ขอใช้บริการยังคงมีต่อหน่วยบริการยังคงมีผลผูกพันต่อไป ทั้งนี้ การขอยกเลิกการใช้บริการ “Rxsk” อาจส่งผลต่อการอำนวยความสะดวก ความรวดเร็วในการรับบริการ และการรับรู้ข้อมูลเกี่ยวกับการเข้ารับบริการ แต่ไม่มีผลต่อการเข้าถึงและมาตรฐานการให้บริการดูแลสุขภาพของหน่วยบริการ หรือความสัมพันธ์อื่นระหว่างหน่วยบริการในฐานะผู้ให้บริการกับผู้ขอใช้บริการในฐานะผู้ป่วยหรือผู้รับบริการของหน่วยบริการแต่อย่างใด

2.5 ข้อมูลส่วนบุคคลที่เก็บรวบรวมในการใช้บริการ “Rxsk” นี้ อาจถูกเปิดเผยแก่บุคคลหรือหน่วยงานดังนี้

(1) ผู้ให้บริการคลาวด์ ผู้ดูแลระบบสารสนเทศ และผู้พัฒนาแอปพลิเคชันและระบบสารสนเทศที่เกี่ยวข้อง ในฐานะผู้ประมวลผลข้อมูลส่วนบุคคล ทั้งนี้ ภายใต้การกำกับและเงื่อนไขการคุ้มครองข้อมูลส่วนบุคคลที่หน่วยบริการในฐานะผู้ควบคุมข้อมูลส่วนบุคคลกำหนด โดยไม่มีการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของผู้ขอใช้บริการเพื่อประโยชน์ทางธุรกิจของผู้ประมวลผลข้อมูลส่วนบุคคลโดยไม่ได้รับความยินยอมโดยชัดแจ้งจากผู้ขอใช้บริการในฐานะเจ้าของข้อมูลส่วนบุคคล

(2) ผู้ให้บริการที่เกี่ยวเนื่องกับการใช้บริการ “Rxsk” ของหน่วยบริการโดยตรง เช่น การชำระค่าใช้จ่ายของโรงพยาบาลผ่านระบบอิเล็กทรอนิกส์ของธนาคารพาณิชย์หรือผู้ให้บริการบัตรเครดิต เป็นต้น

(3) ศาล พนักงานสอบสวน กรมสอบสวนคดีพิเศษ และหน่วยงานที่มีหน้าที่และอำนาจตามกฎหมายในการตรวจสอบ เรียกข้อมูล เข้าถึงข้อมูล หรือสั่งให้หน่วยบริการเปิดเผยข้อมูล

(4) หน่วยงานของรัฐที่มีหน้าที่ดำเนินภารกิจเพื่อประโยชน์สาธารณะ เช่น สำนักงานปลัดกระทรวงสาธารณสุข กรมสนับสนุนบริการสุขภาพ กรมควบคุมโรค กรมการแพทย์ รวมถึงหน่วยงานอื่นๆ เฉพาะกรณีที่มีความจำเป็นและเป็นไปตามกฎหมาย

(5) กระทรวงสาธารณสุข เฉพาะกรณีที่มีเหตุจำเป็น เช่น การสอบข้อเท็จจริง การสอบสวนทางวินัย และการรายงานข้อมูลเกี่ยวกับการดำเนินงานให้ผู้มีหน้าที่และอำนาจ

 

2.6 ผู้ขอใช้บริการมีสิทธิต่อไปนี้ตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562

(1) สิทธิขอเข้าถึงและขอรับสำเนาข้อมูลส่วนบุคคลที่เกี่ยวกับตนซึ่งอยู่ในความรับผิดชอบของหน่วยบริการ หรือขอให้เปิดเผยถึงการได้มาซึ่งข้อมูลส่วนบุคคลที่ตนไม่ได้ให้ความยินยอม ตามมาตรา 30

(2) สิทธิขอรับข้อมูลส่วนบุคคลที่เกี่ยวกับตนจากหน่วยบริการได้ ในกรณีที่หน่วยบริการได้ทำให้ข้อมูลส่วนบุคคลนั้นอยู่ในรูปแบบที่สามารถอ่านหรือใช้งานโดยทั่วไปได้ด้วยเครื่องมือหรืออุปกรณ์ที่ทำงานได้โดยอัตโนมัติและสามารถใช้หรือเปิดเผยข้อมูลส่วนบุคคลได้ด้วยวิธีการอัตโนมัติ รวมทั้งขอให้ผู้ควบคุมข้อมูลส่วนบุคคลส่งหรือโอนข้อมูลส่วนบุคคลในรูปแบบดังกล่าวไปยังผู้ควบคุมข้อมูลส่วนบุคคลอื่นเมื่อสามารถทำได้ด้วยวิธีการอัตโนมัติ และสิทธิขอรับข้อมูลส่วนบุคคลที่หน่วยบริการ ส่งหรือโอนข้อมูลส่วนบุคคลในรูปแบบดังกล่าวไปยังผู้ควบคุมข้อมูลส่วนบุคคลอื่นโดยตรง เว้นแต่โดยสภาพทางเทคนิคไม่สามารถทำได้ ตามมาตรา 31

(3) สิทธิคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลที่เกี่ยวกับตนเมื่อใดก็ได้ ตามมาตรา 32

(4) สิทธิขอให้หน่วยบริการดำเนินการลบหรือทำลาย หรือทำให้ข้อมูลส่วนบุคคลเป็นข้อมูลที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลส่วนบุคคลได้ ตามมาตรา 33

(5) สิทธิขอให้ผู้ควบคุมข้อมูลส่วนบุคคลระงับการใช้ข้อมูลส่วนบุคคลได้ ตามมาตรา 34

(6) สิทธิในการร้องขอให้หน่วยบริการดำเนินการให้ข้อมูลส่วนบุคคลถูกต้อง เป็นปัจจุบัน สมบูรณ์ และไม่ก่อให้เกิดความเข้าใจผิด ตามมาตรา 36

(7) สิทธิร้องเรียนในกรณีที่หน่วยบริการ รวมทั้งบุคลากร/ลูกจ้างหรือผู้รับจ้างของหน่วยบริการ ฝ่าฝืนหรือไม่ปฏิบัติตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562




3.ข้อกำหนดและเงื่อนไขอื่น ๆ

3.1 ในการตกลงหรือยอมรับข้อกำหนดและเงื่อนไขการใช้บริการฉบับนี้ ท่านยืนยันว่า ท่านคือผู้ขอใช้บริการแอปพลิเคชันนี้เอง หรือเป็นผู้มีอำนาจกระทำการแทนบุคคลดังกล่าวที่ถูกต้องตามกฎหมาย ซึ่งได้กระทำการแทนเพื่อประโยชน์และวัตถุประสงค์ของการใช้งานของผู้ที่ท่านกระทำการแทน ทั้งนี้ ในกรณีที่กระทำการแทน หากผู้นั้นอยู่ในวิสัยที่สามารถรับรู้ ทำความเข้าใจ และตัดสินใจเกี่ยวกับข้อกำหนดและเงื่อนไขการใช้บริการ “Rxsk” ฉบับนี้ได้ ท่านยืนยันว่าท่านได้ให้ข้อมูลและอธิบายให้ผู้นั้นเข้าใจตลอดจนตกลงและให้ความยินยอมในการกระทำการแทนผู้นั้นแล้ว เท่าที่จะสามารถกระทำได้

3.2 ผู้ขอใช้บริการยินยอมให้การตกลงหรือการยอมรับข้อกำหนดและเงื่อนไขการใช้บริการฉบับนี้ และข้อกำหนดและเงื่อนไขอื่นในแอปพลิเคชันหรือในการใช้บริการ“Rxsk” (ถ้ามี) เป็นการแสดงเจตนาโดยผู้ขอใช้บริการ และมีผลผูกพันผู้ขอใช้บริการเสมือนหนึ่งผู้ขอใช้บริการลงนามในเอกสารเป็นลายลักษณ์อักษรด้วยตัวเอง ทั้งนี้ ผู้ขอใช้บริการยอมรับว่า หน่วยบริการอาจแก้ไข เพิ่มเติม หรือยกเลิกข้อกำหนดและเงื่อนไขการใช้บริการได้ตามแต่จะเห็นสมควร โดยจะแจ้งให้ผู้ขอใช้บริการทราบผ่านแอปพลิเคชัน และ/หรือโดยวิธีการอื่นใดที่เหมาะสม ซึ่งหากผู้ขอใช้บริการไม่ตกลงหรือยอมรับข้อกำหนดและเงื่อนไขดังกล่าว ไม่ว่าทั้งหมดหรือบางส่วน ผู้ขอใช้บริการอาจไม่สามารถใช้บริการ “Rxsk” บางส่วนหรือทั้งหมดต่อไปได้ หรืออาจถูกระงับการให้บริการ “Rxsk” และหน่วยบริการจะไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้น

3.3 ในกรณีที่ผู้ขอใช้บริการ “Rxsk” ได้เคยตกลงหรือยอมรับในข้อกำหนดและเงื่อนไขการใช้บริการ “MOPH Connect” สำหรับการใช้งานในฐานะผู้รับบริการของหน่วยบริการที่กระทำผ่านวิธีการทางอิเล็กทรอนิกส์ ให้ความตกลงหรือการยอมรับนั้นยังมีผลใช้บังคับต่อไป เท่าที่ไม่ขัดหรือแย้งกับข้อกำหนดและเงื่อนไขการใช้บริการ “Rxsk” ฉบับนี้ จนกว่าจะถูกยกเลิกหรือแก้ไขเพิ่มเติม

3.4 ในกรณีที่ข้อกำหนดและเงื่อนไขฉบับนี้ ขัดหรือแย้งกับข้อกำหนดและเงื่อนไขการใช้บริการ “Rxsk” ที่ผู้ขอใช้บริการทำกับหน่วยบริการเป็นลายลักษณ์อักษร หรือขัดหรือแย้งกับข้อกำหนดและเงื่อนไขการใช้บริการอื่นในแอปพลิเคชันหรือในการใช้บริการ “Rxsk” ผู้ขอใช้บริการยอมรับให้ใช้ตามข้อกำหนดและเงื่อนไขที่มีการตกลงหรือยอมรับล่าสุดเฉพาะในส่วนที่ขัดหรือแย้งกัน ส่วนข้อกำหนดและเงื่อนไขอื่น ๆ ให้ยังมีผลผูกพันอยู่ต่อไป เว้นแต่จะกำหนดไว้เป็นอย่างอื่น นอกจากนี้ ในกรณีที่ข้อกำหนดและเงื่อนไขการใช้บริการในส่วนใดที่สิ้นผลหรือไม่สามารถบังคับใช้ได้ไม่ว่าด้วยเหตุผลใดก็ตาม ผู้ขอใช้บริการยอมรับว่าเหตุดังกล่าวไม่มีผลกระทบต่อการมีผลผูกพันของข้อกำหนดและเงื่อนไขการใช้บริการในส่วนอื่น

3.5 ผู้ขอใช้บริการยอมรับว่า เท่าที่กฎหมายที่เกี่ยวข้องจะอนุญาต หน่วยบริการไม่รับรองว่าการให้บริการ “Rxsk” และบริการอื่นที่เกี่ยวเนื่องกัน จะครอบคลุมและสามารถทำงานเชื่อมโยงกับผู้ให้บริการต่าง ๆ (เช่น ผู้ให้บริการชำระเงินผ่านระบบอิเล็กทรอนิกส์) อย่างครบถ้วนและโดยสมบูรณ์ หรือจะแสดง/ประมวลผลข้อมูลอย่างถูกต้องครบถ้วนหรือปราศจากข้อผิดพลาดอย่างสิ้นเชิง การให้บริการอาจมีข้อจำกัดในส่วนหนึ่งส่วนใดหรือรูปแบบหนึ่งรูปแบบใดก็ได้ นอกจากนี้ หน่วยบริการไม่รับรองว่าการใช้งานแอปพลิเคชันนี้และการใช้บริการ “Rxsk” จะไม่รบกวนการทำงานและไม่ทำให้เกิดความเสียหายต่อแอปพลิเคชันหรือซอฟต์แวร์อื่น หรือข้อมูลหรือฮาร์ดแวร์ของอุปกรณ์การใช้งานหรือระบบอื่นใด

3.6 ผู้ขอใช้บริการยอมรับว่า เว้นแต่จะกำหนดไว้เป็นอย่างอื่นโดยชัดแจ้ง หน่วยบริการ และ/หรือบุคคลอื่น เป็นเจ้าของลิขสิทธิ์และสิทธิในทรัพย์สินทางปัญญาที่เกี่ยวข้องกับแอปพลิเคชันและบริการ “Rxsk” และหน่วยบริการขอสงวนสิทธิ์นั้นในส่วนที่หน่วยบริการเป็นเจ้าของหรือได้รับอนุญาตให้นำมาใช้ โดยผู้ขอใช้บริการตกลงที่จะไม่ทำซ้ำ ดัดแปลง เผยแพร่ต่อสาธารณชน (ซึ่งรวมถึงการเผยแพร่ผ่านเว็บไซต์หรือโดยวิธีการทางอิเล็กทรอนิกส์) ให้เช่า จำหน่าย จ่ายแจก ลบหรือเปลี่ยนแปลงข้อมูลการบริหารสิทธิ (เช่น ลายน้ำ ข้อความ สัญลักษณ์ ภาพ หรือเสียงที่บ่งชี้ถึงผู้สร้างสรรค์ เจ้าของลิขสิทธิ์ หรือระยะเวลาและเงื่อนไขการใช้งานอันมีลิขสิทธิ์ ที่ติดอยู่หรือปรากฏเกี่ยวข้องกับงานอันมีลิขสิทธิ์)  หรืออนุญาตให้ผู้อื่นดำเนินการดังกล่าว ต่อต้นฉบับหรือสำเนางานอันมีลิขสิทธิ์และทรัพย์สินทางปัญญาของโรงพยาบาลและ/หรือบุคคลอื่นที่เกี่ยวข้องกับแอปพลิเคชันและบริการ“Rxsk” โดยไม่ได้รับอนุญาตจากหน่วยบริการหรือเจ้าของลิขสิทธิ์หรือเจ้าของทรัพย์สินทางปัญญานั้น เว้นแต่จะเป็นการทำซ้ำที่จำเป็นต้องมีสำหรับการนำสำเนามาใช้ เพื่อให้อุปกรณ์ที่ใช้ในระบบคอมพิวเตอร์หรือกระบวนการส่งงานอันมีลิขสิทธิ์ทางระบบคอมพิวเตอร์ทำงานได้ตามปกติ หรือกรณีอื่นที่ได้รับยกเว้นหรืออนุญาตตามกฎหมาย นอกจากนี้ ผู้ขอใช้บริการตกลงว่าจะไม่แปลกลับ (decompile) ทำวิศวกรรมย้อนกลับ (reverse engineer) แยกส่วนประกอบ หรือพยายามที่จะได้มาซึ่ง source code หรือถอดรหัส (decrypt) ของแอปพลิเคชัน ซอฟต์แวร์ หรือโปรแกรมคอมพิวเตอร์ที่ใช้ในบริการ “Rxsk” เว้นแต่จะได้รับอนุญาตจากหน่วยบริการหรือเจ้าของงานดังกล่าว หรือเป็นข้อมูลสาธารณะที่เกิดจากการเปิดเผยโดยชอบอยู่แล้ว

3.7 ผู้ขอใช้บริการตกลงที่จะไม่ใช้แอปพลิเคชันหรือบริการ “Rxsk” ในลักษณะต่อไปนี้ ซึ่งหากปรากฏหรือมีเหตุอันควรเชื่อว่ามีกรณีดังกล่าวเกิดขึ้น หน่วยบริการอาจระงับหรือยกเลิกการใช้บริการ “Rxsk” ของผู้ขอใช้บริการที่เกี่ยวข้องทั้งหมดหรือบางส่วนก็ได้

(1) เพื่อให้ผู้ใดสำคัญผิดในตัวตน คุณสมบัติ หรือข้อเท็จจริงเกี่ยวกับผู้ขอใช้บริการหรือผู้รับบริการของหน่วยบริการ

(2) ในลักษณะที่ผิดวัตถุประสงค์ ขัดต่อกฎหมายหรือศีลธรรมอันดี หรือสร้างความเสียหายแก่หน่วยบริการ

(3) เป็นการโจมตี เจาะระบบ แทรกแซง รบกวน หรือทำให้ระบบที่เกี่ยวกับแอปพลิเคชันนี้หรือบริการ “Rxsk” ถูกระงับ ชะลอ ขัดขวาง หรือรบกวนจนไม่สามารถทำงานตามปกติได้ หรือทำงานผิดพลาด ขัดข้อง ทำงานช้า หยุดชะงัก หรือผิดจากที่คาดหมาย หรือเป็นความพยายามที่จะเข้าถึง ส่งต่อ หรือเผยแพร่ข้อมูลส่วนบุคคลของผู้อื่นหรือข้อมูลความลับอย่างอื่น หรือลักลอบแก้ไขข้อมูลในระบบโดยมิชอบ ซึ่งเป็นการกระทำที่มุ่งโจมตีต่อความมั่นคงปลอดภัยไซเบอร์หรือการคุ้มครองข้อมูลส่วนบุคคล หรือเป็นการกระทำความผิดตามกฎหมายว่าด้วยการกระทำความผิดเกี่ยวกับคอมพิวเตอร์

(4) เป็นการนำเข้าสู่ระบบคอมพิวเตอร์ซึ่งข้อมูลคอมพิวเตอร์ที่บิดเบือนหรือปลอม หรือข้อมูลคอมพิวเตอร์อันเป็นเท็จ หรือข้อมูลคอมพิวเตอร์อันเป็นความผิดเกี่ยวกับความมั่นคงแห่งราชอาณาจักร

(5) เป็นการนำเข้าสู่ระบบคอมพิวเตอร์ซึ่งข้อมูลที่หยาบคาย ขัดต่อศีลธรรมอันดี ไม่เหมาะสม หรืออาจทำให้หน่วยบริการเกิดความเสียหายหรือต้องรับผิดทางกฎหมายหรือรับผิดชอบต่อบุคคลหนึ่งบุคคลใด

(6) ในลักษณะอื่นที่ผิดเงื่อนไขในการใช้งานหรือการให้บริการที่กำหนดภายในแอปพลิเคชันหรือในการให้บริการ “Rxsk” หรือตามที่ “หน่วยบริการ”กำหนด  </p>
     <p><input type="checkbox" id="myCheck" onclick="myFunction()" > ยอมรับเงื่อนไข</p>

      </div>
    
   </form>
   </div>
</body>

</html>



@code{

} 