@page "/register"
@rendermode InteractiveServer

<!-- 
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"  type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-image: url("../img/Web 1920 – 11.png");
  width: 100%;
  height: 100%;
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat;
}

.contanier {
    
    height: 150vh;
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top : 75%;
    left : 37%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.w-50 {
    width: 30% !important;
    position: absolute !important;
    top: 120px;
    border: 2px solid cadetblue !important;
    border-radius: 10px;
    left: 35%;
}

.form-label {
    font-weight: 700;
}

.btn-success {
    background-color: black !important;
    border: none !important;
    width: 100px;
}

.media only screen and (max-width: 600px) {
    .w-50 {
        width: 100% !important;
        left: 0 !important;
    }
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.inputWithIcon i {
  position: absolute;
  left: 7;
  top: 5px;
  padding: 9px 8px;
  color: #D3B679;
  transition: 0.3s;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}
    </style>
</head> -->

<body>
  
   <div class="contanier">
   <form class="w-50 mx-auto py-5 shadow p-4" >
    <h3 class="text-black">ลงทะเบียน/Registration</h3><hr >
    <div class="mb-3 inputWithIcon">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ชื่อ/First Name" >
        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
      </div>

    <div class="mb-3 inputWithIcon">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="นามสกุล/Last Name">
        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
      </div>

      <div class="mb-3 inputWithIcon">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="เลขบัตรประชาชน/ID">
        <i class="fa fa-address-card fa-lg fa-fw" aria-hidden="true"></i>

      </div>

      <div class="mb-3 inputWithIcon">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="เบอร์โทรศัพท์/Phone Number">
         <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>        
      </div>

      <div class="mb-3 inputWithIcon">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ชื่อบัญชี/username">
        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
      </div>
      
      <div class="mb-3 inputWithIcon">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="รหัสผ่าน/password">
        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
        
      </div>

      <div class="mb-3 d-flex">
        <button class="btn btn-success">ลงทะเบียน</button>
      </div>

     
   </form>
   </div>
</body>

<!-- </html> -->